
        
        h1, center {
            color: rgb(0, 0, 0);
        }  
        
      
html {
        background: url(https://i.pinimg.com/originals/30/06/81/300681f21d8f61c0036fe7179b955b25.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
            
    
